/*Styling of html content  */
html {
	box-sizing: border-box;
}

*, *::before, *::after {
	box-sizing: inherit;
}

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	background: #ffffff url('../img/geometry2.png');
	/* Background pattern from Subtle Patterns */
	font-family: 'Coda', cursive;
}

/*Styling of container div  */
.container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

/*Styling of header  */
h1 {
	font-family: 'Comic Sans MS', 'Comic Sans', cursive;
	font-weight: 300;
	text-align: center;
	text-transform: uppercase;
	color: #a80687;
}

/*
 * Styles for the deck of cards
 */
.deck {
	width: 660px;
	min-height: 680px;
	background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
	padding: 32px;
	border-radius: 10px;
	box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	margin: 0 0 3em;
}

.deck .card {
	height: 125px;
	width: 125px;
	background: #2e3d49;
	font-size: 0;
	color: #ffffff;
	border-radius: 8px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
	transform: rotateY(0);
	background: #02b3e4;
	cursor: default;
}

.deck .card.show {
	font-size: 33px;
}

.deck .card.match {
	cursor: default;
	background: #02ccba;
	font-size: 33px;
}

.deck .card.unmatch {
	cursor: default;
	background: #d32869;
	font-size: 33px;
}
/*
 * Styles for the Score Panel
 */
.score-panel {
	text-align: left;
	font-size: 20px;
	margin-bottom: 10px;
	color: #100ad1;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.score-panel .play {
	margin-left: 20px;
	background: #3cb0fd; 
	background-image : -webkit-linear-gradient( top, #3cb0fd, #34d9b8); 
	background-image : -moz-linear-gradient( top, #3cb0fd, #34d9b8); 
	background-image : -ms-linear-gradient( top, #3cb0fd, #34d9b8); 
	background-image : -o-linear-gradient( top, #3cb0fd, #34d9b8); 
	background-image : linear-gradient( to bottom, #3cb0fd, #34d9b8);
	-webkit-border-radius: 28;
	-moz-border-radius: 28;
	border-radius: 28px;
	font-family: Georgia;
	color: #0c0c33;
	color: #0c0c33;
	font-size: 20px;
	padding: 10px 20px 10px 20px;
	text-decoration: none;
}

.play:hover {
	background: #79d934;
	background-image: -webkit-linear-gradient(top, #79d934, #2980b9);
	background-image: -moz-linear-gradient(top, #79d934, #2980b9);
	background-image: -ms-linear-gradient(top, #79d934, #2980b9);
	background-image: -o-linear-gradient(top, #79d934, #2980b9);
	background-image: linear-gradient(to bottom, #79d934, #2980b9);
	text-decoration: none;
}

.score-panel .restart {
	float: right;
	margin-top: 5px;
	margin-left: 50px;
	cursor: pointer;
	color: #0a56d1;
	font-size: 25px;
}

.restart:hover {
	background: #6bcfe5;
}

.score-panel .stars {
	display: inline-block;
	margin: 10px 50px 10px 0;
	color: #0a820a;
	font-size: 20px;
}

.score-panel .stars li {
	list-style: none;
	display: inline-block;
}

.score-panel .timer {
	margin: 50px; font-family : 'Orbitron', sans-serif;
	font-size: 20px;
	font-family: 'Orbitron', sans-serif;
	font-family: 'Orbitron', sans-serif
}